@inject IJSRuntime JS 
@namespace Dashboard.Components.PIRA_charts

<div style="width:20rem; height:20rem;">
    <canvas id="acuteChart"></canvas>
</div>

@code {
    private async Task RenderChart()
    {
        await JS.InvokeVoidAsync("drawAcuteChart"); //InvokeVoidAsync: không có giá trị trả về
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RenderChart();
        }
    }
}
@* Component firstRender -> OnAfterRenderAsync(true) run -> RenderChart() is called -> Hàm drawAcuteChart() *@