@inject IJSRuntime JS
@namespace Dashboard.Components.PIRA_charts

<div style="width:14rem; height:14rem;">
    <canvas id="carChart"></canvas>
</div>

@code {
    private async Task RenderChart()
    {
        await JS.InvokeVoidAsync("drawCarChart");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RenderChart();
        }
    }
}
