.activity_container[b-i2xuyxsli7] {
    width: 100%;
}

    .activity_container .content[b-i2xuyxsli7] {
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 10px;
    }
    /* Title */
    .activity_container .title[b-i2xuyxsli7] {
        height: 40px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid green;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
/*smoking*/
.info .info_title[b-i2xuyxsli7] {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info .data[b-i2xuyxsli7] {
    display: flex;
    justify-content: center;
}

.info .info_title .status[b-i2xuyxsli7] {
    font-size: 20px;
    color: gray;
}

/*BMI*/
.info .bmi_data .bmi_index[b-i2xuyxsli7] {
    color: #b22222;
    place-items: flex-end;
}


/*history*/
.history[b-i2xuyxsli7] {
    display: grid;
    gap: 10px;
}

    .history .history_center .mod_center .mod_number[b-i2xuyxsli7] {
        font-weight: bold;
        color: orange;
        justify-content: center;
        align-items: center;
        display: flex;
    }


    .history .history_center .severe_center .timedata[b-i2xuyxsli7] {
        font-size: 12px;
        color: #B22222;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*moderate*/
    .history .history_center .mod_center[b-i2xuyxsli7] {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }

        .history .history_center .mod_center .mod[b-i2xuyxsli7] {
            color: orange;
            font-size: 20px;
        }

        .history .history_center .mod_center .mod_content[b-i2xuyxsli7] {
            display: grid;
            place-content: center;
        }
/*severe*/
.severe_center[b-i2xuyxsli7] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

    .severe_center .severe[b-i2xuyxsli7] {
        color: #B22222;
        font-weight: bold;
        font-size: 20px;
    }

    .severe_center .ser_content[b-i2xuyxsli7] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .severe_center .ser_content .severe_number[b-i2xuyxsli7] {
            color: #B22222;
            font-weight: bold
        }

/*second rate*/
.history .history_center .second_rate[b-i2xuyxsli7] {
    font-size: 12px;
}

/*eosinophil*/
.section_eos[b-i2xuyxsli7] {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
}
    /*eos_center*/
    .section_eos .eos_center[b-i2xuyxsli7] {
        display: grid;
        place-items: center;
    }

        .section_eos .eos_center .eos_item[b-i2xuyxsli7] {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        .section_eos .eos_center .eos_name[b-i2xuyxsli7] {
            font-weight: bold;
            display: grid;
            place-items: center;
            font-size: 14px;
        }

        .section_eos .eos_center .eos_item .eos_percent[b-i2xuyxsli7] {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }

        .section_eos .eos_center .data_count[b-i2xuyxsli7] {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }

            .section_eos .eos_center .data_count .eos_count[b-i2xuyxsli7] {
                color: #B22222;
            }

    /* Biểu đồ */
    .section_eos .chart_eos[b-i2xuyxsli7] {
        border: 1px solid #ccc;
        padding: 5px;
        background-color: #f9f9f9;
        margin: 5px;
        height: 250px;
    }

/*ALL*/
.dash_line[b-i2xuyxsli7] {
    margin: 0;
    border: none;
    border-top: 2px dashed grey;
    width: 100%;
}

.reference[b-i2xuyxsli7] {
    display: flex;
    place-items: center;
    color: gray;
    font-size: 12px;
}
/*index data*/
.data_index[b-i2xuyxsli7] {
    font-size: 24px;
    font-weight: bold;
}
/*date eva*/
.date_eva[b-i2xuyxsli7] {
    display: flex;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
    font-size: 10px;
    position: relative;
}

    .date_eva .date_name[b-i2xuyxsli7] {
        color: #008080;
        display: flex;
    }

    .date_eva .date_time[b-i2xuyxsli7] {
        position: absolute;
        top: 10px;
    }

.border_left[b-i2xuyxsli7] {
    font-size: 14px;
    margin: 10px;
    padding: 5px;
    margin-bottom: 5px;
    border-left: 4px solid green;
}
