@using Dashboard.Components.PIRA_component
@page "/PIRA"

<div class="pira">
	<div class="pira_top">
		<div class="acute pira_cop">
			<Acute />
		</div>
		<div class="cardiovascular pira_cop">
			<Cardiovascular />
		</div>
	</div>
	<div class="pira_cop overall">
		<Overall />
	</div>
</div>