@namespace Dashboard.Components.PIRA_component

<div class="acute_container">
	<p class="title">Acute exacerbation risk prediction</p>
	<div class="acute_content">
		<div class="acute_left">
			<div class="dropdown">
				<button class="btn_acute" type="button" data-toggle="dropdown">
					Selection
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a class="select" href="#">Return patient</a></li>
					<li><a class="select" href="#">Newly diagnosed patients</a></li>
				</ul>
			</div>

			<div>
				<div class="acute_text">Risk of moderate to severe acute exacerbation in 6 months</div>
			</div>

			<div id="acute_chart">
				<AcuteChart />
			</div>
		</div>
		<div class="acute_right">
			<table class="acute_table">
				<thead>
					<tr>
						<th>
							Modifiable risk
						</th>
						<th>Test value</th>
						<th>Target value</th>
					</tr>
				</thead>
				<tr>
					<td>BMI</td>
					<td>twenty one</td>
					<td></td>
				</tr>
				<tr>
					<td>systolic blood pressure</td>
					<td>150</td>
					<td></td>
				</tr>
				<tr>
					<td>CAT change amount</td>
					<td>3</td>
					<td></td>
				</tr>
				<tr>
					<td>high density cholesterol</td>
					<td>60</td>
					<td></td>
				</tr>
				<tr>
					<td>HbA1C</td>
					<td>7.0</td>
					<td></td>
				</tr>
				<tr>
					<td>eGFR</td>
					<td>80</td>
					<td></td>
				</tr>
				<tr>
					<td>history of infection</td>
					<td>None</td>
					<td></td>
				</tr>
				<tr>
					<td>
						Smoking status
					</td>
					<td>Still smoking</td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>

