.car_container .title {
    height: 5.5rem;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 0.1rem solid green;
    background-color: #f3f3f3;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.car_container .car_content {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.car_content .car_left {
    display: grid;
    grid-template-rows: auto auto;
}

    .car_content .car_left div:nth-child(2) {
        display: block; 
        margin: 0 auto; /* Căn giữa */
        width: fit-content;
    }

/*button selection*/
.dropdown {
    margin-left: 1rem;
}

    .dropdown .btn_car {
        color: white;
        font-weight: bold;
        font-size: 1.8rem;
        background-color: #da5a00;
        border: none;
        border-radius: 5px;
        position: relative;
    }


    .dropdown .dropdown-menu {
        padding: 0;
        border: none;
        border-radius: 5px;
        position: absolute;
        top: 3rem;
    }

    .dropdown .select {
        color: #da5a00;
        font-size: 1.8rem;
        border: 1px solid #da5a00;
        border-radius: 5px;
        font-weight: bold;
        margin: 2px 0;
    }
/*table*/
.car_table {
    width: 100%;
    border-collapse: collapse;
    border: 3px dotted #EBF6F3 !important;
}

    .car_table th, td {
        border: 2px solid white;
        padding: 10px;
        text-align: center;
    }

    .car_table th {
        background-color: #61C2A3;
        color: white;
    }

    .car_table td:first-child, td:nth-child(2) {
        font-weight: bold;
        background-color: #EBF6F3;
    }

    .car_table tr td:nth-child(3), th:nth-child(3) {
        border: 3px dotted #EBF6F3;
        empty-cells: show;
    }
/*car chart*/
#car_chart {
    height: 17rem;
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5rem solid lightgray;
    border-radius: 50%;
}
