@namespace Dashboard.Components.PIRA_component

<div class="overall_container">
	<div class="over_sum">
		<table class="over_table">
			<thead>
				<tr>
					<th colspan="2" class="border_left over_title">Overall summary of risk assessment</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Poor FEV1 control</td>
					<td>Blood sugar level is too high</td>
				</tr>
				<tr>
					<td>Poor CAT control</td>
					<td>Total cholesterol is high</td>
				</tr>
				<tr>
					<td>Still smoking</td>
					<td></td>
				</tr>
				<tr>
					<td>high blood pressure</td>
					<td></td>
				</tr>
				<tr>
					<td>Low BMI</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="personal_advice">
		<table class="person_table">
			<thead>
				<tr>
					<th class="border_left person_title">Personalized advice</th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th>respiratory health management</th>
					<th>cardiovascular health management</th>
					<th>blood sugar control</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>It is recommended to quit smoking immediately and seek help from the smoking cessation clinic.</td>
					<td>Measure and record blood pressure every day to maintain it within the ideal range</td>
					<td>Establish a regular meal habit and control sugar intake</td>
				</tr>
				<tr>
					<td>Learn proper breathing techniques and ways to clear phlegm</td>
					<td>Avoid high-salt, high-fat, high-cholesterol diets</td>
					<td>Monitor blood sugar every day</td>
				</tr>
				<tr>
					<td>Use respiratory medications prescribed by your doctor on time every day</td>
					<td>
						Take blood pressure lowering medications regularly
					</td>
					<td>
						Take hypoglycemic drugs or inject insulin as directed by your doctor
					</td>
				</tr>
				<tr>
					<td>Avoid exposure to secondhand smoke and sources of air pollution</td>
					<td></td>
					<td>Understand the symptoms and treatment of hypoglycemia</td>
				</tr>
				<tr>
					<td colspan="3" class="other">
						<strong>other:</strong> Nutrition and Weight Management
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="feedback_react">
		<button type="button" class="btn btn-primary">User feedback	</button>
		<a class="icon" href="#"> <i class="fa-solid fa-thumbs-up"></i> </a>
		<a class="icon" href="#"> <i class="fa-solid fa-thumbs-down"></i> </a>
	</div>
</div>