/* /Components/PIRA_component/Acute.razor.rz.scp.css */
.acute_container .title[b-dms5t2zuw7] {
    height: 5.5rem;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 0.1rem solid green;
    background-color: #f3f3f3;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.acute_container .acute_content[b-dms5t2zuw7] {
    display: grid;
    grid-template-columns: auto auto;
}

.acute_content .acute_left[b-dms5t2zuw7] {
    display: grid;
    grid-template-rows: auto auto auto;
}

    .acute_content .acute_left div:nth-child(3)[b-dms5t2zuw7] {
        display: block;
        margin: 0 auto; /* Căn giữa */
    }

    .acute_content .acute_left .acute_text[b-dms5t2zuw7] {
        font-size: 1.4rem;
        margin: 10px;
        padding: 5px;
        margin-bottom: 5px;
        border-left: 4px solid green;
    }
    /*button selection*/
    .acute_content .acute_left .dropdown[b-dms5t2zuw7] {
        margin-left: 1rem;
    }

        .acute_content .acute_left .dropdown .btn_acute[b-dms5t2zuw7] {
            color: white;
            font-weight: bold;
            font-size: 1.8rem;
            background-color: #da5a00;
            border: none;
            border-radius: 5px;
            position: relative;
        }

        .acute_content .acute_left .dropdown .dropdown-menu[b-dms5t2zuw7] {
            padding: 0;
            border: none;
            border-radius: 5px;
            position: absolute;
            top: 3rem;
        }

        .acute_content .acute_left .dropdown .select[b-dms5t2zuw7] {
            color: #da5a00;
            font-size: 1.8rem;
            border: 1px solid #da5a00;
            border-radius: 5px;
            font-weight: bold;
            margin: 2px 0;
        }


/*table*/
.acute_container .acute_right .acute_table[b-dms5t2zuw7] {
    width: 100%;
    border-collapse: collapse;
    border: 3px dotted #EBF6F3 !important;
    margin-right: 1rem;
}

    .acute_container .acute_right .acute_table th[b-dms5t2zuw7], td[b-dms5t2zuw7] {
        border: 2px solid white;
        padding: 10px;
        text-align: center;
    }

    .acute_container .acute_right .acute_table th[b-dms5t2zuw7] {
        background-color: #61C2A3;
        color: white;
    }

    .acute_container .acute_right .acute_table td:first-child[b-dms5t2zuw7], td:nth-child(2)[b-dms5t2zuw7] {
        background-color: #EBF6F3;
    }

    .acute_container .acute_right .acute_table td:first-child[b-dms5t2zuw7] {
        font-weight: bold;
    }

    .acute_container .acute_right .acute_table tr td:nth-child(3)[b-dms5t2zuw7], th:nth-child(3)[b-dms5t2zuw7] {
        border: 3px dotted #EBF6F3;
        empty-cells: show;
    }

/*chart*/
#acute_chart[b-dms5t2zuw7] {
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2rem solid lightgray;
    border-radius: 50%;
}
/* /Components/PIRA_component/Cardiovascular.razor.rz.scp.css */
.car_container .title[b-sy4tbmg939] {
    height: 5.5rem;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 0.1rem solid green;
    background-color: #f3f3f3;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.car_container .car_content[b-sy4tbmg939] {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.car_content .car_left[b-sy4tbmg939] {
    display: grid;
    grid-template-rows: auto auto;
}

    .car_content .car_left div:nth-child(2)[b-sy4tbmg939] {
        display: block; 
        margin: 0 auto; /* Căn giữa */
        width: fit-content;
    }

/*button selection*/
.dropdown[b-sy4tbmg939] {
    margin-left: 1rem;
}

    .dropdown .btn_car[b-sy4tbmg939] {
        color: white;
        font-weight: bold;
        font-size: 1.8rem;
        background-color: #da5a00;
        border: none;
        border-radius: 5px;
        position: relative;
    }


    .dropdown .dropdown-menu[b-sy4tbmg939] {
        padding: 0;
        border: none;
        border-radius: 5px;
        position: absolute;
        top: 3rem;
    }

    .dropdown .select[b-sy4tbmg939] {
        color: #da5a00;
        font-size: 1.8rem;
        border: 1px solid #da5a00;
        border-radius: 5px;
        font-weight: bold;
        margin: 2px 0;
    }
/*table*/
.car_table[b-sy4tbmg939] {
    width: 100%;
    border-collapse: collapse;
    border: 3px dotted #EBF6F3 !important;
}

    .car_table th[b-sy4tbmg939], td[b-sy4tbmg939] {
        border: 2px solid white;
        padding: 10px;
        text-align: center;
    }

    .car_table th[b-sy4tbmg939] {
        background-color: #61C2A3;
        color: white;
    }

    .car_table td:first-child[b-sy4tbmg939], td:nth-child(2)[b-sy4tbmg939] {
        font-weight: bold;
        background-color: #EBF6F3;
    }

    .car_table tr td:nth-child(3)[b-sy4tbmg939], th:nth-child(3)[b-sy4tbmg939] {
        border: 3px dotted #EBF6F3;
        empty-cells: show;
    }
/*car chart*/
#car_chart[b-sy4tbmg939] {
    height: 17rem;
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5rem solid lightgray;
    border-radius: 50%;
}
/* /Components/PIRA_component/Overall.razor.rz.scp.css */
.overall_container[b-wqd2prijuz] {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}

/*overall sum table*/
.over_sum[b-wqd2prijuz] {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid white !important;
}

    .over_sum th[b-wqd2prijuz], td[b-wqd2prijuz] {
        border-right: 2px solid white;
        padding: 10px;
    }

    .over_sum th[b-wqd2prijuz] {
        color: #da5a00;
        background-color: #f3f3f3;
    }

    .over_sum td[b-wqd2prijuz] {
        font-weight: bold;
    }

    .over_sum thead th[b-wqd2prijuz], .over_sum tbody td[b-wqd2prijuz] {
        padding: 0.3rem;
    }

/*personal table*/
.person_table[b-wqd2prijuz] {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid white !important;
}

    .person_table .person_title[b-wqd2prijuz] {
        color: #009700;
    }

    .person_table th[b-wqd2prijuz], th:empty[b-wqd2prijuz] {
        background-color: #f3f3f3;
    }

    .person_table td[b-wqd2prijuz] {
        color: gray;
    }

    .person_table thead th[b-wqd2prijuz], .person_table tbody td[b-wqd2prijuz] {
        padding: 0.3rem;
    }

    .person_table th[b-wqd2prijuz], td[b-wqd2prijuz] {
        border-right: 2px solid white;
        padding: 10px;
    }

    /*other*/
    .person_table .other[b-wqd2prijuz] {
        border-top: 1px solid black;
        color: black;
    }

.overall_container .feedback_react[b-wqd2prijuz] {
    width: 20rem;
    gap: 2rem;
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    display: flex;
}
/*ALL*/
.border_left[b-wqd2prijuz] {
    margin: 1rem;
    padding: 5px;
    margin-bottom: 5px;
    border-left: 4px solid green;
}

.feedback_react .icon[b-wqd2prijuz]{
    font-size: 3rem;
}
/* /Components/POMI_component/Activity.razor.rz.scp.css */
.activity_container[b-i2xuyxsli7] {
    width: 100%;
}

    .activity_container .content[b-i2xuyxsli7] {
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 10px;
    }
    /* Title */
    .activity_container .title[b-i2xuyxsli7] {
        height: 40px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid green;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
/*smoking*/
.info .info_title[b-i2xuyxsli7] {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info .data[b-i2xuyxsli7] {
    display: flex;
    justify-content: center;
}

.info .info_title .status[b-i2xuyxsli7] {
    font-size: 20px;
    color: gray;
}

/*BMI*/
.info .bmi_data .bmi_index[b-i2xuyxsli7] {
    color: #b22222;
    place-items: flex-end;
}


/*history*/
.history[b-i2xuyxsli7] {
    display: grid;
    gap: 10px;
}

    .history .history_center .mod_center .mod_number[b-i2xuyxsli7] {
        font-weight: bold;
        color: orange;
        justify-content: center;
        align-items: center;
        display: flex;
    }


    .history .history_center .severe_center .timedata[b-i2xuyxsli7] {
        font-size: 12px;
        color: #B22222;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*moderate*/
    .history .history_center .mod_center[b-i2xuyxsli7] {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }

        .history .history_center .mod_center .mod[b-i2xuyxsli7] {
            color: orange;
            font-size: 20px;
        }

        .history .history_center .mod_center .mod_content[b-i2xuyxsli7] {
            display: grid;
            place-content: center;
        }
/*severe*/
.severe_center[b-i2xuyxsli7] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

    .severe_center .severe[b-i2xuyxsli7] {
        color: #B22222;
        font-weight: bold;
        font-size: 20px;
    }

    .severe_center .ser_content[b-i2xuyxsli7] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .severe_center .ser_content .severe_number[b-i2xuyxsli7] {
            color: #B22222;
            font-weight: bold
        }

/*second rate*/
.history .history_center .second_rate[b-i2xuyxsli7] {
    font-size: 12px;
}

/*eosinophil*/
.section_eos[b-i2xuyxsli7] {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
}
    /*eos_center*/
    .section_eos .eos_center[b-i2xuyxsli7] {
        display: grid;
        place-items: center;
    }

        .section_eos .eos_center .eos_item[b-i2xuyxsli7] {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        .section_eos .eos_center .eos_name[b-i2xuyxsli7] {
            font-weight: bold;
            display: grid;
            place-items: center;
            font-size: 14px;
        }

        .section_eos .eos_center .eos_item .eos_percent[b-i2xuyxsli7] {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }

        .section_eos .eos_center .data_count[b-i2xuyxsli7] {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }

            .section_eos .eos_center .data_count .eos_count[b-i2xuyxsli7] {
                color: #B22222;
            }

    /* Biểu đồ */
    .section_eos .chart_eos[b-i2xuyxsli7] {
        border: 1px solid #ccc;
        padding: 5px;
        background-color: #f9f9f9;
        margin: 5px;
        height: 250px;
    }

/*ALL*/
.dash_line[b-i2xuyxsli7] {
    margin: 0;
    border: none;
    border-top: 2px dashed grey;
    width: 100%;
}

.reference[b-i2xuyxsli7] {
    display: flex;
    place-items: center;
    color: gray;
    font-size: 12px;
}
/*index data*/
.data_index[b-i2xuyxsli7] {
    font-size: 24px;
    font-weight: bold;
}
/*date eva*/
.date_eva[b-i2xuyxsli7] {
    display: flex;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
    font-size: 10px;
    position: relative;
}

    .date_eva .date_name[b-i2xuyxsli7] {
        color: #008080;
        display: flex;
    }

    .date_eva .date_time[b-i2xuyxsli7] {
        position: absolute;
        top: 10px;
    }

.border_left[b-i2xuyxsli7] {
    font-size: 14px;
    margin: 10px;
    padding: 5px;
    margin-bottom: 5px;
    border-left: 4px solid green;
}
/* /Components/POMI_component/Influence.razor.rz.scp.css */
.influence_container .title[b-8wn8kwsrbr] {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid green;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.influence_container .influence_center[b-8wn8kwsrbr] {
    gap: 10px;
    display: grid;
    grid-template-rows: auto auto auto;
    /*    grid-template-rows: 0.15fr 0.4fr 0.45fr;*/
}

    .influence_container .influence_center .gold_risk_group .gold_content[b-8wn8kwsrbr] {
        display: flex;
        justify-content: center;
    }

        .influence_container .influence_center .gold_risk_group .gold_content .text_color .a[b-8wn8kwsrbr] {
            background-color: #1b5a00;
        }

        .influence_container .influence_center .gold_risk_group .gold_content .text_color .b[b-8wn8kwsrbr] {
            background-color: #ffd800;
        }

        .influence_container .influence_center .gold_risk_group .gold_content .text_color .c[b-8wn8kwsrbr] {
            background-color: #ff6a00;
        }

        .influence_container .influence_center .gold_risk_group .gold_content .text_color .d[b-8wn8kwsrbr] {
            background-color: #be0000;
        }

    /*chartCAT*/
    .influence_container .influence_center .cat[b-8wn8kwsrbr] {
        display: grid;
        grid-template-columns: auto auto;
    }

        .influence_container .influence_center .cat .chart_cat[b-8wn8kwsrbr] {
            border: 1px solid #ccc;
            padding: 5px;
            background-color: #f9f9f9;
            margin: 5px;
            height: 220px;
        }

    /*chartMRC*/
    .influence_container .influence_center .mMRC[b-8wn8kwsrbr] {
        display: grid;
        grid-template-columns: auto auto;
    }

        .influence_container .influence_center .mMRC .chart_mrc[b-8wn8kwsrbr] {
            border: 1px solid #ccc;
            padding: 5px;
            background-color: #f9f9f9;
            margin: 5px;
            height: 220px;
        }


/*ALL*/
.border_left[b-8wn8kwsrbr] {
    font-size: 14px;
    margin: 10px;
    padding: 5px;
    margin-bottom: 5px;
    border-left: 4px solid green;
}
/*number data*/
.number_data[b-8wn8kwsrbr] {
    font-size: 24px;
    font-weight: bold;
    color: #be0000;
    text-align: center;
}

.text[b-8wn8kwsrbr] {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 35px;
    color: white;
}

.time[b-8wn8kwsrbr] {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-right: 1px dotted gray;
}

.gd .time[b-8wn8kwsrbr] {
    border: none;
}
/*dash_line*/
.dash_line[b-8wn8kwsrbr] {
    margin: 0;
    border: none;
    border-top: 2px dashed grey;
    width: 100%;
}
/*datalist eva*/
.date_eva[b-8wn8kwsrbr] {
    display: flex;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
    font-size: 10px;
    position: relative;
}

    .date_eva .date_name[b-8wn8kwsrbr] {
        color: #008080;
        display: flex;
    }

    .date_eva .date_time[b-8wn8kwsrbr] {
        position: absolute;
        top: 10px;
    }
/* /Components/POMI_component/Severity.razor.rz.scp.css */
.severity_container[b-5xa38x8mbj] {
    display: grid;
}
    /*title*/
    .severity_container .severity_title[b-5xa38x8mbj] {
        height: 40px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid green;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .severity_container .severity_content[b-5xa38x8mbj] {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

        .severity_container .severity_content .data[b-5xa38x8mbj] {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

            .severity_container .severity_content .data .data_index[b-5xa38x8mbj] {
                font-size: 24px;
            }

            .severity_container .severity_content .data .data_name[b-5xa38x8mbj] {
                text-align: center;
                font-size: 14px;
            }

            .severity_container .severity_content .data .gold_grade[b-5xa38x8mbj] {
                color: orange;
            }

    .severity_container .comorbid_medical[b-5xa38x8mbj] {
        padding: 2px;
    }

        .severity_container .comorbid_medical .comorbid[b-5xa38x8mbj] {
            margin: 10px;
            font-size: 14px;
            padding: 5px;
            margin-bottom: 5px;
            border-left: 4px solid green; /* Vạch xanh lá bên trái */
        }

        .severity_container .comorbid_medical .list_diseases[b-5xa38x8mbj] {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: 10px;
            text-align: center;
        }

        .severity_container .comorbid_medical .disease[b-5xa38x8mbj] {
            font-size: 14px;
            color: #777;
        }

        .severity_container .comorbid_medical .highlight[b-5xa38x8mbj] {
            font-weight: bold;
            color: green;
        }

    .severity_container .dash_line[b-5xa38x8mbj] {
        border: none;
        border-top: 2px dashed grey;
        width: 100%;
        margin: 0;
    }
    /*biểu đồ*/
    .severity_container #severity_chart[b-5xa38x8mbj] {
        border: 1px solid #ccc;
        padding: 5px;
        background-color: #f9f9f9;
        height: 250px;
        margin: 5px;
    }


.select_dis[b-5xa38x8mbj] { 
    color: green !important; 
    font-weight: bold;
}

/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-ahb1tlqnha] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ahb1tlqnha] {
    flex: 1;
}

.sidebar[b-ahb1tlqnha] {
    background-color: #008060;
    width: 250px;
    padding: 5px;
    color: white;
    font-family: Arial, sans-serif;
}

.top-row[b-ahb1tlqnha] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ahb1tlqnha]  a, .top-row[b-ahb1tlqnha]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row a:hover[b-ahb1tlqnha], .top-row[b-ahb1tlqnha]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-ahb1tlqnha]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-ahb1tlqnha] {
        justify-content: space-between;
    }

    .top-row[b-ahb1tlqnha]  a, .top-row[b-ahb1tlqnha]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ahb1tlqnha] {
        flex-direction: row;
    }

    .sidebar[b-ahb1tlqnha] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ahb1tlqnha] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ahb1tlqnha]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ahb1tlqnha], article[b-ahb1tlqnha] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */

.sidebar .title[b-99uzwvxhai] {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
}

    .sidebar .title[b-99uzwvxhai]::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #2CA58D;
        position: absolute;
        bottom: 0;
        left: 0;
    }

.menu-list[b-99uzwvxhai] {
    margin: 30px 10px;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.nav .detail[b-99uzwvxhai] {
    font-size: 14px;
    margin: 5px 10px 30px 0;
}
.nav .menu-title[b-99uzwvxhai]{
    cursor: pointer;
}

.dot[b-99uzwvxhai] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid white;
    background-color: white;
}

.selected[b-99uzwvxhai] {
    color: yellow !important;
}
/* /Pages/PIRA.razor.rz.scp.css */
.pira[b-po7ol2mf2l] {
    margin-top: 10px;
    gap: 5px;
}
.pira[b-po7ol2mf2l] {
    display: grid;
    grid-template-rows: auto auto;  
}
.pira .pira_top[b-po7ol2mf2l]{
    column-gap: 5px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

/*ALL*/
 .pira .pira_cop[b-po7ol2mf2l] {
    border: 2px solid #009e20;
    border-radius: 5px;
}
:root[b-po7ol2mf2l]{
    font-size: 10px;
 }
/* /Pages/POMI.razor.rz.scp.css */
.pomi[b-snz13uwdvn]{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3px;
}
.severity[b-snz13uwdvn], .activity[b-snz13uwdvn], .influence[b-snz13uwdvn] {
    border: 2px solid #009e20;
    border-radius: 5px;
}
