.overall_container[b-wqd2prijuz] {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}

/*overall sum table*/
.over_sum[b-wqd2prijuz] {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid white !important;
}

    .over_sum th[b-wqd2prijuz], td[b-wqd2prijuz] {
        border-right: 2px solid white;
        padding: 10px;
    }

    .over_sum th[b-wqd2prijuz] {
        color: #da5a00;
        background-color: #f3f3f3;
    }

    .over_sum td[b-wqd2prijuz] {
        font-weight: bold;
    }

    .over_sum thead th[b-wqd2prijuz], .over_sum tbody td[b-wqd2prijuz] {
        padding: 0.3rem;
    }

/*personal table*/
.person_table[b-wqd2prijuz] {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid white !important;
}

    .person_table .person_title[b-wqd2prijuz] {
        color: #009700;
    }

    .person_table th[b-wqd2prijuz], th:empty[b-wqd2prijuz] {
        background-color: #f3f3f3;
    }

    .person_table td[b-wqd2prijuz] {
        color: gray;
    }

    .person_table thead th[b-wqd2prijuz], .person_table tbody td[b-wqd2prijuz] {
        padding: 0.3rem;
    }

    .person_table th[b-wqd2prijuz], td[b-wqd2prijuz] {
        border-right: 2px solid white;
        padding: 10px;
    }

    /*other*/
    .person_table .other[b-wqd2prijuz] {
        border-top: 1px solid black;
        color: black;
    }

.overall_container .feedback_react[b-wqd2prijuz] {
    width: 20rem;
    gap: 2rem;
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    display: flex;
}
/*ALL*/
.border_left[b-wqd2prijuz] {
    margin: 1rem;
    padding: 5px;
    margin-bottom: 5px;
    border-left: 4px solid green;
}

.feedback_react .icon[b-wqd2prijuz]{
    font-size: 3rem;
}
