@namespace Dashboard.Components

<div class="activity_container">
    <p class="title">Activity Indicator (ACTIVITY)</p>

    <div class="content">
        <!-- Smoking Status & BMI -->
        <div class="info">
            <div class="info_title">
                <div class="smoking_status">
                    <div class="smoking border_left">Smoking status</div>
                    <div class="status data">Quit smoking</div>
                </div>
                <div class="bmi_data">
                    <div class="bmi border_left">BMI</div>
                    <div class="data bmi_index">
                        <strong class="data_index">18</strong> Too light
                    </div>
                </div>
                <div class="date_eva">
                    <div class="date_name">Date of last evaluation:</div> <div class="date_time">2024.11.14</div>
                </div>
            </div>
        </div>
        <hr class="dash_line" />
        <!-- History -->
        <div class="history">
            <div class="history_title border_left">History of acute axacerbation within one year</div>
            <div class="history_center">
                <div class="mod_center">
                    <div class="mod">Moderate</div>
                    <div class="mod_content">
                        <div class="mod_number data_index">1</div>
                        <div class="second_rate data">Second-rate</div>
                    </div>
                </div>
                <hr />
                <div class="severe_center">
                    <div class="severe">Severe</div>
                    <div class="ser_content">
                        <div class="severe_number data_index">1</div>
                        <div class="second_rate data">Second-rate</div>
                    </div>
                    <div class="timedata">
                        <div class="datetime">2024/6/30</div>
                        <div class="hospitalized">Hospitalized (J44)</div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="dash_line" />

        <!-- Eosinophil -->
        <div class="section_eos">
            <div class="eos_data">
                    <div class="eos_title border_left">Eosinophil blood count</div>
                    <div class="eos_center">
                        <div class="eos_item">
                            <div class="eos_title eos_name">Eosinophil (%)</div>
                            <div class="eos_percent data">
                            <span class="data_index">2 </span> <sub>%</sub>
                            </div>
                            <p class="reference">Reference: 0.4% - 7.6%</p>
                        </div>
                        <div class="eos_item">
                        <div class="eos_title eos_name">Eosinophil count</div>
                        <div class="data_count"> 
                            <span class="eos_count data_index">300</span> <sub>/ &#956;L</sub> 
                        </div>
                        <div class="reference">Reference: 20&#956;L - 480&#956;L</div>
                        </div>
                    </div>
                <div class="date_eva">
                    <div class="date_name">Date of last evaluation:</div> <div class="date_time">2024.11.14</div>
                </div>
            </div>
            <div class="chart_eos">
                <ActivityChart /> 
            </div>
        </div>
    </div>
</div>
