@namespace Dashboard.Components


<div class="severity_container">
    <p class="severity_title">Severity Indicator (SEVERITY)</p>

    <div class="severity_content">
        <div class="data">
            <p class="data_name">FEV1 <br /> <strong class="data_index"> 1.2 </strong><span> L</span></p>
            <p class="data_name">FEV1% pred <br /> <strong class="data_index">65</strong> <span>%</span> </p>
            <p class="data_name">GOLD Grade <br /> <strong class="gold_grade data_index">2</strong> </p>
        </div>

        <div class="chart">
            <div id="severity_chart"> <SeverityChart /> </div>
        </div>
        <hr class="dash_line"/>
        <div class="comorbid_medical">
            <div class="comorbid">Comorbid Medical</div>
            <ul class="list_diseases">
                <li><p class="disease select_dis">Asthma</p></li>
                <li><p class="disease select_dis">Hypertension</p></li>
                <li><p class="disease select_dis">Bronchiectasis</p></li>
                <li><p class="disease">Diabetes</p></li>
                <li><p class="disease">Coronary Heart Disease</p></li>
                <li><p class="disease">Chronic Kidney Disease</p></li>
                <li><p class="disease">Heart Failure</p></li>
                <li><p class="disease">Osteoporosis</p></li>
                <li><p class="disease">Lung Cancer</p></li>
                <li><p class="disease">Stroke</p></li>
            </ul>
        </div>
    </div>
</div>
