@inject NavigationManager Navigation

<div class="sidebar">
    <div class="title">Pulmonary Obstruction Smart Dashboard</div>
    <div class="menu-list">
        <ul class="nav">
            <li @onclick="() => SelectMenu1(1)">
                <span class="dot"></span>
                <span class="menu-title @(selectedMenu == 1 ? "selected" : "")">
                    Pulmonary obstruction monitoring indicators
                </span>
            </li>
            <ul class="detail">
                <li >Severity index</li>
                <li >Mobility treats symptoms</li>
                <li >Impact Index</li>
            </ul>
        </ul>

        <ul class="nav">
            <li @onclick="() => SelectMenu2(2)">
                <span class="dot"></span>
                <span class="menu-title @(selectedMenu == 2 ? "selected" : "")">
                    Personalized risk assessment
                </span>
            </li>
            <ul class="detail">
                <li>Acute exacerbation</li>
                <li>Cardiovascular disease</li>
            </ul>
        </ul>

        <ul class="nav">
            <li class="nav-item">
                <span class="dot"></span>
                <span class="menu-title @(selectedMenu == 3 ? "selected" : "")">
                    Other functions
                </span>
            </li>
        </ul>
    </div>
</div>

@code {
    private int selectedMenu = 1;
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("/POMI"); // Điều hướng đến trang mặc định
    }
    private void SelectMenu1(int menuId)
    {
        selectedMenu = menuId;
        if (menuId == 1)
        {
            Navigation.NavigateTo("/POMI");
        }
    }
    private void SelectMenu2(int menuId)
    {
        selectedMenu = menuId;
        if (menuId == 2)
        {
            Navigation.NavigateTo("/PIRA");
        }
    }
}
